/* Exercise 6: Layout the jokes and weather website according to the mock-up */
/* Mobile first */

:root {
    --background-color: #fffffe;
    --yellow-color: #e7ca66;
    --yellowly-color: #fedb75;
    --violet-color: #8774b2;
    --black-color: #0E255C;
    --header-size: 4rem;
    --font: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Relative lenght unit */

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: auto;
}

nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    margin: 1rem;
    z-index: inherit;
}

#forecast {
    display: flex;
    align-items: center;
    z-index: 1000;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: 80rem;
}

h1 {
    padding-bottom: 4rem;
    font-size: 2rem;
}

.container {
    font-weight: 900;
    text-align: center;
    padding: 1rem;
    width: auto;
    color: var(--background-color);
}

#text {
    margin: auto;
    width: 30vw;
    text-align: center;
    font-size: 1.5rem;
}

.container__button {
    position: relative;
    font-weight: 600;
    height: 4rem;
    padding: 1.2rem 2rem;
    outline: none;
    border: 0.2rem solid black;
    background-color: transparent;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .container__button:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0.7rem;
    left: 0.7rem;
    height: 100%;
    background-color: var(--yellowly-color);
    z-index: -1;
    transition: all 0.35s;
    border-radius: inherit;
  }
  
  .container__button:hover:after {
    top: 0rem;
    left: 0rem;
  }

.container__scoring button {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    padding-top: 1.3rem;
}

.container__bubble1 {
    position: absolute;
    width: 143%;
    bottom: 0%;
    left: -21%;
    z-index: -7;
}

.container__bubble2 {
    position: absolute;
    width: 25%;
    bottom: 5%;
    left: 7%;
    z-index: -1;
}

.container__bubble3 {
    position: absolute;
    width: 25%;
    top: 7%;
    right: 7%;
}

#text {
    margin: auto;
    width: 30vw;
    text-align: center;
}

.sad-face:hover {
    transform: scale(1.5);
}

.dubt-face:hover {
    transform: scale(1.5);
}

.happy-face:hover {
    transform: scale(1.5);
}